<!DOCTYPE html>
<html lang="en">
<head>
    <title>404</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="/libs/404/images/icons/favicon.ico"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/libs/404/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/libs/404/css/util.css">
    <link rel="stylesheet" type="text/css" href="/libs/404/css/main.css">
    <!--===============================================================================================-->
</head>
<body>

<div class="limiter">
    <div class="container-login100" style="background-image: url('/libs/404/images/bg-01.jpg');">
        <div class="wrap-login100 p-t-85 p-b-20" style="padding: 20px; border-radius: 5px;">

            <div class="js-tilt" data-tilt>
                <span class="login100-form-title m-b-40">404</span>
                <span class="login100-form-avatar">
						<img src="/libs/404/images/avatar-01.jpg" alt="AVATAR">
					</span>
            </div>

            <div class="container-login100-form-btn m-t-40">
                <button class="login100-form-btn" onclick="window.history.go(-1); return false;">
                    GO BACK
                </button>
            </div>

        </div>
    </div>
</div>

<!--===============================================================================================-->
<script src="/libs/404/js/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="/libs/404/js/tilt.jquery.min.js"></script>
<script>
    $('.js-tilt').tilt({
        scale: 1.1
    })
</script>
<!--===============================================================================================-->

</body>
</html>
